html {
   box-sizing: border-box
}

*,
*::before
*::after {
   box-sizing: inherit;
} 

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

* {
   margin: 0;
   padding: 0;
}

.wrapper {
   width: 1200px;
   margin: 0 auto;
}

/* HEADER */

.menu {
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image:-moz-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.7),
      rgba(243, 129 ,129, 0.7)
    ),
    -moz-linear-gradient(90deg, rgba(251, 226, 135, 0.7), rgba(243, 129, 129, 0.7)),
    url('../img/Layer\ 15@1x-min.jpg');
    background-image:-webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.7),
      rgba(243, 129 ,129, 0.7)
    ),
    -webkit-linear-gradient(90deg, rgba(251, 226, 135, 0.7), rgba(243, 129, 129, 0.7)),
    url('../img/Layer\ 15@1x-min.jpg');
} 

@media (-webkit-min-device-pixel-ratio: 2),(-moz-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   .menu {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -moz-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.7),
      rgba(243, 129 ,129, 0.7)
    ),
    -moz-linear-gradient(90deg, rgba(251, 226, 135, 0.7), rgba(243, 129, 129, 0.7)),
    url('../img/Layer\ 15@2x-min.jpg');
    background-image:-webkit-linear-gradient(
      90deg,
      rgba(252, 227, 138, 0.7),
      rgba(243, 129 ,129, 0.7)
    ),
    -webkit-linear-gradient(90deg, rgba(251, 226, 135, 0.7), rgba(243, 129, 129, 0.7)),
    url('../img/Layer\ 15@2x-min.jpg');
   }
}

/* NAVIGATION */

.menu__navigation {
   display : flex;
   min-height: 100px;
   align-items: center;
   justify-content: space-between;
}

.menu__main {
   font-family: "Montserrat", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 400;
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 400px;
}

.menu__main a {
   display: block;
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
   border-bottom: 3px solid transparent;
}

.menu__main a:hover,
.menu__main a:focus {
   color: #fce38a;
   transition: 1s;
}

.menu__link::after {
   left: 0;
   bottom: 0;
   display: block;
   border: 3px solid;
   color: #fce38a00;
   content: '';
   margin-top: 12px;
}

.menu__link:hover::after {
   left: 0;
   bottom: 0;
   display: block;
   border: 3px solid;
   color: #fce38a;
   content: '';
   margin-top: 12px;
   transition: 1s;
}

.menu__icon{
   width: 18px;
   height: 15px;
}

.menu__icon__cart {
   fill: #ffffff;
}

.menu__icon__cart:hover {
   fill: #fce38a;
}

.menu__icon__glass {
   fill: #ffffff;
}

.menu__icon__glass:hover {
   fill: #fce38a;
}

/* Главный заголовок сайта */

.headline__main {
   width: 821px;
   margin: 0 auto;
}

.headline__site {
   font-family: "Kaushan Script", sans-serif;
   font-size: 72px;
   color: #ffffff;
   text-align: center;
   margin: 163px 0 60px 0;
}

.headline__main {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 150px;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
}

/* Кнопка в header */

.headline__button {
   text-align: center;
   margin: 126px 0 0 0;
   padding: 0 0 230px 0;
}

.headline__button__decor {

   border-style: solid;
   border-width: 3px;
   border-color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0);
   width: 164px;
   height: 44px;
   /* border: none;
   border-style: solid transparent; */
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 14px;
   text-transform: uppercase;
   color: #ffffff;
}

/* MAIN CONTENT */

/* Первая секция */

/* Заголовок первой секции */

.main__text {
   font-family: "Kaushan Script", sans-serif;
   font-size: 24px;
   text-align: center;
   color: #333333;
   margin-bottom: 22px;
   margin-top: 160px;
}

/* Подзаголовок первой сеции */

.headline__text {
   font-family:"Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.headline__text:after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: #f38181;
   content: '';
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 66px;
}

/* Основной контент первой секции - сервисы */

.content__main {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-between;
}

.content__main li {
   list-style: none;
   width: 280px;
   margin-bottom: 100px;
}

.content__list {
   margin-left: 80px;
   position: relative;
}

.content__list h4 {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   padding-bottom: 21px;
   color: #333333;
}

.content__list p {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   color: #999999;
}

.content__photo::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/alarm.svg);
   position: absolute;
   left: -60px;
}

.content__graph::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/linegraph.svg);
   position: absolute;
   left: -60px;
}

.content__computer::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/computer.svg);
   position: absolute;
   left: -60px;
}

.content__book::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/book.svg);
   position: absolute;
   left: -60px;
}

.content__home::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/home.svg);
   position: absolute;
   left: -60px;
}

.content__picture::before {
   display: inline-block;
   width: 32px;
   height: 31px;
   content: '';
   background-image: url(../img/image.svg);
   position: absolute;
   left: -60px;
}

/* Вторая секция */

/* Заголовок второй секции */

.team__headline {
   font-family: "Kaushan Script", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: #333333;
   text-align: center;
   margin-bottom: 22px;
}

/* Основной контент второй секции - описание */

.team__about {
   font-family:"Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;

}

.team__about::after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: rgb(243, 129, 129);
   content: '';
   margin: 0 auto;
   margin-top: 42px;
   margin-bottom: 46px;
}

/* MAIN CONTENT - TEAM */

/* Карточки с командой */

.team__box {
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.team__list {
   height: 470px;
   width: 380px;
   position: relative;
}

.team__list:hover .team__photo {
   color: rgb(149, 225, 211);
   transform: translate(-10px, -10px);
   box-shadow: 10px 10px;
   transition: transform 0.2s linear;
}

/* HOVER на карточки */

.team__photo::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: -moz-linear-gradient( 90deg, #FCE38A 0%, #F38181 100%);
   background-image: -webkit-linear-gradient( 90deg, #FCE38A 0%, #F38181 100%);
   opacity: 0;
   transition: all .3s ease;
}

.team__photo:hover:before {
   opacity: 0.8;
   background-image: -moz-linear-gradient( 90deg, #FCE38A 0%, #F38181 100%);
   background-image: -webkit-linear-gradient( 90deg, #FCE38A 0%, #F38181 100%);
}

.team__text {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 30px;
   text-align: center;
   color: #999999;
   padding-bottom: 94px;
   width: 943px;
   margin: 0 auto;
}

.team__box__name {
   padding-top: 30px;
}

.team__name {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   color: #333333;
   text-align: center; 
   line-height: 34px;
}

.team__position {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: italic;
   color: #999999;
   text-align: center;
   font-size: 15px;
}

/* ICON на карточки */

.team__icon__box li {
   list-style: none;
}

.team__list__socials{
   width: 224px;
   height: 56px;
   background-color: rgb(252, 227, 138);
}

.team__icon__inner a {
   display: inline-block;
   text-decoration: none;
   float: left;
   /* border-bottom: 1px solid transparent; */
}

.team__link svg {
   position: absolute;
   display: block;
   width: 50%;
   height: 50%;
   transform: translate(-27%, -38%);
   top: 50%;
   fill: #f38181;
}

.team__content:hover .team__icon {
   display: flex;
   opacity: 1;
   justify-content: center;
   align-items: center;

}

.team__link {
   opacity: 1;
   width: 56px;
   height: 56px;
   /* border-right: 1px solid rgba(255, 166, 0, 0.493); */
   background-color: #fce38a;

}

.team__icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-style: transparent;
   display: none;
}

/* HOVER на SVG */
 
.team__link:hover {
   background-color: #f38181;
   /* border: 1px solid  #f38181; */
   width: 56px;
   height: 56px;
   transition: 0.5s;
} 

.team__link:hover .team__facebook {
   fill: #ffffff;
}

.team__link:hover .team__twitter {
   fill: #ffffff;
}

.team__link:hover .team__instagram {
   fill: #ffffff;
} 

.team__link:hover .team__pinterest {
   fill: #ffffff;
}

.team {
   padding: 0 0 90px 0;
}


/* FOOTER */

/* Левая подсекция с автором */

.site__author {
   display: block;
   content: '';
   background-color: rgb(229, 229, 229);
   width: 1200px;
   height: 1px;
}

.site__form {
   display: flex;
   justify-content: space-between;
   padding: 25px 0 25px 0;
}

.site__contact__text {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #333333;
}

.site__name {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #f38181;
}

.site__contact {
   display: flex;
   align-self: center;
}

/* Правая подсекция с формой подписки */

.site__form__message {
   display: flex;
}

input[type="email"] {
   border-style: solid;
   border-width: 1px;
   border-color: rgb(231, 231, 231);
   background-color: rgb(255, 255, 255);
   width: 234px;
   height: 40px;
   font-size: 15px;
   font-family: "Roboto";
   color: rgb(204, 204, 204);
   font-style: italic;
   padding-left: 5px;
}

.site__button {
   border-width: 1px;
   border-color: rgb(149, 225, 211);
   border-style: solid;
   border: none;
   background-color: rgb(149, 225, 211);
   width: 150px;
   height: 42px;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
}

