html {
   box-sizing: border-box
}

*,
*::before
*::after {
   box-sizing: inherit;
} 

body {
   font-family: "Playfair Display", "Arial", serif;
   color: rgb(98,98,98);
}

.main-nav {
   display: block;
   font-size: 14px;
   list-style: none;
   vertical-align: middle;
   padding-top: 77px;
   padding-bottom: 77px;
   text-align: center;
}
.main-menu {
   margin: 0;
   padding: 0;
   font-size: 0;
}

.main-menu-item1 {
   margin-right: 123px;
}

.main-menu2 {
   margin-right: 105px;
}

.main-menu3 {
   margin-right: 95px;
}

.main-menu li:last-child {
   margin-right: 0;
}

.main-menu li {
   display: inline-block;
}  

.main-menu a {
   text-decoration: none;
   text-transform: uppercase;
   font-size: 14px;
   display: block;
   font-weight: 400;
   color: rgb(98,98,98);
}

.content {
   font-size: 0;
   padding-bottom: 92px;
}

.main-content {
   font-size: 0;
}

.wrapper {
   width: 900px;
   margin: 0 auto;
}

.main-text {
   width: 420px;
   display: inline-block;
   margin-right: 60px;
   margin-bottom: 138px;
}

.main-text:nth-child(2n) {
   margin-right: 0;
}

.main-photo {
   margin-bottom: 32px;
}


.description  {
   text-transform: uppercase;
   font-family: "Ubuntu", "Arial", sans-serif;
   font-weight: 300;
   margin: 0;
   margin-bottom: 27px;
   color: rgb(180, 173, 158);
}

h3 {
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   margin: 0;
   margin-bottom: 41px;
}

p {
   font-size: 14px;
   font-weight: 400;
   line-height: 17px;
   margin: 0;
   
}

.load-button{
   border: none;
   display: block; 
   margin: 0 auto;
   font-size: 20px;
   border: 1px solid;
   line-height: 24px;
   color: rgb(108, 108, 108);
   min-width: 162px;
   height: 58px;
} 


 