html {
   box-sizing: border-box
}

*,
*::before *::after {
   box-sizing: inherit;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.clearfix::after {
   content: "";
   display: table;
   clear: both;
}

* {
   margin: 0;
   padding: 0;
}

.wrapper {
   width: 1200px;
   margin: 0 auto;
}

/* HEADER CONTENT */

/* NAVIGATION */

.main-navigation {
   display: flex;
   min-height: 100px;
   align-items: center;
   justify-content: space-between;
}

.navigation {
   font-family: "Montserrat", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 400;
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 400px;
}

/* HOVER под навигацией */

.menu-link::after {
   left: 0;
   bottom: 0;
   display: block;
   border: 3px solid;
   color: rgba(243, 129, 129, 0);
   content: '';
   margin-top: 12px;
}

.menu-link:hover::after {
   left: 0;
   bottom: 0;
   display: block;
   border: 3px solid;
   color: rgb(243, 129, 129);
   content: '';
   margin-top: 12px;
   transition: 1s;
}

/* HOVER на навигацию */

.navigation a:hover,
.navigation a:focus {
   color: rgb(243, 129, 129);
   transition: 1s;
}

.navigation a {
   display: block;
   color: #95e1d3;
   text-decoration: none;
   text-transform: uppercase;
   border-bottom: 3px solid transparent;

}


/* MAIN CONTENT */

/* Первый главный заголовок секции */

.headline h3 {
   font-family: "Kaushan Script", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   text-align: center;
   margin-bottom: 22px;
   padding-top: 160px;
   color: #333333;
}


.headline h2 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.headline h2::after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: #f38181;
   content: '';
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 66px;
}

/* Первый основной контент секции - сервисы */

.work h4 {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   padding-bottom: 21px;
   color: #333333;
}

.work p {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   color: #999999;
}

.main-content {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-between;

}

.main-content li {
   list-style: none;
   width: 280px;
   margin-bottom: 100px;
}

.work {
   margin-left: 80px;
   position: relative;
}

.main-content li:nth-child(n+3) {
   margin-bottom: 0;
}

.alarm::before {
   content: url(../img/icons/ALARM.png);
   position: absolute;
   left: -60px;
}

.graph::before {
   content: url(../img/icons/LINE\ GRAPH.png);
   position: absolute;
   left: -60px;
}

.computer::before {
   content: url(../img/icons/COMPUTER\ _\ OK.png);
   position: absolute;
   left: -60px;

}

.book::before {
   content: url(../img/icons/BOOK\ 2.png);
   position: absolute;
   left: -60px;
}

.home::before {
   content: url(../img/icons/HOME.png);
   position: absolute;
   left: -60px;
}

.picture::before {
   content: url(../img/icons/IMAGE.png);
   position: absolute;
   left: -60px;
}

/* Второй главный заголовок секции */

.meet-team {
   padding: 92px 0 0 0;
}

.meet-team h3 {
   font-family: "Kaushan Script", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: #333333;
   text-align: center;
   margin-bottom: 22px;
}

.meet-team h2 {
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.meet-team h2::after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: rgb(243, 129, 129);
   content: '';
   margin: 0 auto;
   margin-top: 42px;
   margin-bottom: 46px;
}

/* Второй основной контент страницы - описание */

.about p {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 30px;
   text-align: center;
   color: #999999;
   padding-bottom: 94px;
   width: 943px;
   margin: 0 auto;
}

.content {
   padding-bottom: 156px;
}


/* MAIN CONTENT - TEAM */

/* Карточки с командой  */

.our {
   width: 381px;
}

.box-team {
   display: flex;
   justify-content: space-between;
   align-content: center;
   /* width: 672px; */
}

.our {
   margin-right: 30px;
}

.name {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   color: #333333;
   text-align: center;
   line-height: 34px;
}

.position {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: italic;
   color: #999999;
   text-align: center;
   font-size: 15px;
}

.team-developer {
   padding-top: 30px;
}

.developer {
   width: 380px;
   height: 470px;
   position: relative;
}

/* HOVER на карточки */

.team-photo::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: -moz-linear-gradient(90deg, #FCE38A 0%, #F38181 100%);
   background-image: -webkit-linear-gradient(90deg, #FCE38A 0%, #F38181 100%);
   opacity: 0;
   transition: all .3s ease;
}

.team-photo:hover:before {
   opacity: 0.8;
   background-image: -moz-linear-gradient(90deg, #FCE38A 0%, #F38181 100%);
   background-image: -webkit-linear-gradient(90deg, #FCE38A 0%, #F38181 100%);
}

.developer:hover .team-photo {
   color: rgb(149, 225, 211);
   transform: translate(-10px, -10px);
   box-shadow: 10px 10px;
   transition: 1s;
}

/* ICON на карточки */

.card {
   width: 223px;
   height: 56px;
   background-color: rgb(252, 227, 138);
}

.our:hover .icon-section {
   display: flex;
   opacity: 1;
   justify-content: center;
   align-items: center;
}

.icon-section {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-style: transparent;
   display: none;
}

.icon-socials li {
   list-style: none;
}

.icon-facebook {
   background-image: url(../img/icons/facebook.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 55px;
   height: 56px;
   background-color: #fce38a;
   border-right: 1px solid rgba(255, 166, 0, 0.493);
}

.icon-twitter {
   background-image: url(../img/icons/twitter.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 55px;
   height: 56px;
   background-color: #fce38a;
   border-right: 1px solid rgba(255, 166, 0, 0.493);
}

.icon-pinterest {
   background-image: url(../img/icons/pinterest.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 55px;
   height: 56px;
   border-right: 1px solid rgba(255, 166, 0, 0.493);
   background-color: #fce38a;
}

.icon-instagram {
   background-image: url(../img/icons/instagram.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 55px;
   height: 56px;
   background-color: #fce38a;
   /* border: 1px solid rgba(255, 166, 0, 0.493); */
}

.icon-twitter:hover {
   background-color: #95e1d3;
   /* border: 1px solid #95e1d3; */
   transition: 0.5s;

}

.icon-facebook:hover {
   background-color: #95e1d3;
   /* border: 1px solid #95e1d3; */
   transition: 0.5s;

}

.icon-pinterest:hover {
   background-color: #95e1d3;
   /* border: 1px solid #95e1d3; */
   transition: 0.5s;

}

.icon-instagram:hover {
   background-color: #95e1d3;
   /* border: 1px solid #95e1d3; */
   transition: 0.5s;
}

/* FOOTER SECTION */

/* Левая подсекция с автором */

.design-author::before {
   display: block;
   content: '';
   background-color: rgb(229, 229, 229);
   width: 1200px;
   height: 1px;
}

.author {
   display: flex;
   justify-content: space-between;
   padding: 25px 0 25px 0;

}

.text-author {
   display: flex;
   align-self: center;
}

.contact {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #333333;
}

.name-author {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #f38181;
}

/* Правая подсекция с формой подписки */

.form-message {
   display: flex;
}

input[type="email"] {
   border-style: solid;
   border-width: 1px;
   border-color: rgb(231, 231, 231);
   background-color: rgb(255, 255, 255);
   width: 234px;
   height: 40px;
   font-size: 15px;
   font-family: "Roboto";
   color: rgb(204, 204, 204);
   font-style: italic;
   padding-left: 5px;
}

.subscribe {
   border-width: 1px;
   border-color: rgb(149, 225, 211);
   border-style: solid;
   border: none;
   background-color: rgb(149, 225, 211);
   width: 150px;
   height: 42px;
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ffffff;
}

/* Visually Hidden */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}