html {
   box-sizing: border-box
}

*,
*::before
*::after {
   box-sizing: inherit;
} 

img {
   display: block;
   max-width: 100%;
   height: auto;
}

* {
   margin: 0;
   padding: 0;
}

.wrapper {
   width: 1200px;
   margin: 0 auto;
}

/* NAVIGATION */

.main-navigation {
   display : flex;
   min-height: 100px;
   align-items: center;
   justify-content: space-between;
}

.navigation {
   font-family: "Montaserrat", "Arial", sans-serif;
   font-size: 14px;
   font-weight: 400;
   list-style: none;
   display: flex;
   justify-content: space-between;
   width: 400px;
}

.menu-link:hover::after {
   left: 0;
   bottom: 0;
   display: block; 
   border: 2px solid;
   color: rgb(243, 129, 129);
   content: '';
   /* margin-top: 12px; */
}

.navigation a:hover,
.navigation a:focus {
   color: rgb(243, 129, 129);
   transition: 1s;
}

.navigation a {
   display: block;
   color: #95e1d3;
   text-decoration: none;
   text-transform: uppercase;
   border-bottom: 3px solid transparent;
   
}


/* MAIN CONTENT */

.headline h3 {
   font-family: "Kaushan Script", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   text-align: center;
   margin-bottom: 22px;
   margin-top: 160px;
   color: #333333;
}


.headline h2 {
   font-family:"Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.headline h2::after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: rgb(243, 129, 129);
   content: '';
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 66px;
}

.work h4 {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   padding-bottom: 21px;
   color: #333333;
}

.work p {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   color: #999999;
}

.main-content {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-between;

}

.main-content li {
   list-style: none;
   width: 280px;
   margin-bottom: 100px;
}

.work {
   margin-left: 80px;
   position: relative;
}

.alarm::before {
   content: url(../img/icons/ALARM.png);
   position: absolute;
   left: -60px; 
}

.graph::before {
   content: url(../img/icons/LINE\ GRAPH.png);
   position: absolute;
   left: -60px;
}

.computer::before {
   content: url(../img/icons/COMPUTER\ _\ OK.png);
   position: absolute;
   left: -60px;

}

.book::before {
   content: url(../img/icons/BOOK\ 2.png);
   position: absolute;
   left: -60px;
}

.home::before {
   content: url(../img/icons/HOME.png);
   position: absolute;
   left: -60px;
}

.picture::before {
   content: url(../img/icons/IMAGE.png);
   position: absolute;
   left: -60px;
}

.meet-team h3 {
   font-family: "Kaushan Script", sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 30px;
   color: #333333;
   text-align: center;
   margin-bottom: 22px;

   /* margin-top: 160px  */
}

.meet-team h2 {
   font-family:"Montserrat", sans-serif;
   font-weight: 700;
   font-size: 30px;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
}

.meet-team h2::after {
   display: block;
   width: 60px;
   height: 3px;
   background-color: rgb(243, 129, 129);
   content: '';
   margin: 0 auto;
   margin-top: 42px;
   margin-bottom: 46px;
}

.about p {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: 18px;
   text-align: center;
   color: #999999;
   margin-bottom: 94px;
}

.we {
   display: flex;
   justify-content: space-between;
   align-content: center;
}

.name {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   text-transform: uppercase;
   color: #333333;
   text-align: center; 
   line-height: 17px;
}

.position {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   font-style: italic;
   color: #999999;
   text-align: center;
   font-size: 15px;
}

.team-developer {
   padding-top: 30px; 
}

.developer {
   width: 380px;
   height: 470px;
   position: relative;
}

.team-photo::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-image: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
   opacity: 0;
   transition: all .3s ease;
}

.team-photo:hover:before {
   opacity: 0.5;
   background: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
}

/* background: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%); */

.our:hover .team-photo {
   color: rgb(149, 225, 211);
   transform: translate(-10px, -10px);
   box-shadow: 10px 10px;
   transition: 1s;
}

.developer {
   position: relative;
}

.our:hover .icon-section {
   display: flex;
   opacity: 1;
   justify-content: center;
   align-items: center;
   background: linear-gradient( 90deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);

}

.icon-section {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-style: transparent;
   display: none;
}

.icon-facebook {
   background-image: url(../img/icons/facebook.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 50px;
   height: 50px;
   border-width: 1px;
   border-color: rgba(255, 166, 0, 0.493);
   border-style: solid;
}

.icon-twitter {
   background-image: url(../img/icons/twitter.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 50px;
   height: 50px;
   border-width: 1px;
   border-color: rgba(255, 166, 0, 0.493);
   border-style: solid;
}

.icon-pinterest{
   background-image: url(../img/icons/pinterest.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 50px;
   height: 50px;
   border-width: 1px;
   border-color: rgba(255, 166, 0, 0.493);
   border-style: solid;
}

.icon-twitter:hover {
   background-color: #1abc9c;
   border: 1px solid  #1abc9c;
   transition: 0.5s;

}


.icon-facebook:hover {
   background-color: #1abc9c;
   border: 1px solid  #1abc9c;
   transition: 0.5s;
  
}

.icon-pinterest:hover {
   background-color: #1abc9c;
   border: 1px solid  #1abc9c;
   transition: 0.5s;
   
}

.icon-instagram:hover {
   background-color: #1abc9c;
   border: 1px solid  #1abc9c;
   transition: 0.5s;
}

.icon-instagram {
   background-image: url(../img/icons/instagram.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center;
   opacity: 1;
   float: left;
   width: 50px;
   height: 50px;
   border-width: 1px;
   border-color: rgba(255, 166, 0, 0.493);
   border-style: solid;
}

.card {
   width: 208px;
   height: 52px;
   background-color: rgb(252, 227, 138);
}


