.team {
  &__headline {
    @extend %main-subtitle;
    font-family: $font-family-subtitle, sans-serif;
    line-height: 30px;

  }

  &__about {
    font-family: $font-family-headline, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-main;
  }

  &__text {
    font-family: $primary-font-family, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: $color-text;
    padding-bottom: 94px;
    width: 943px;
    margin: 0 auto;
  }

  &__name {
    font-family: $font-family-headline, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $color-text-main;
    text-align: center;
    line-height: 34px;
  }

  &__position {
    font-family: $primary-font-family, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: $color-text;
    text-align: center;
    font-size: 15px;
  }
}

.team__about::after {
  display: block;
  width: 60px;
  height: 3px;
  background-color: $color-icon-main;
  content: '';
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 46px;
}

.team__box__name {
  padding-top: 30px;
}

.team__section {
  padding: 0 0 90px 0;
}
