$primary-font-family: 'Roboto';
$font-family-subtitle: 'Kaushan Script';
$font-family-headline: 'Montserrat';
$color-icon-section: #fce38a;
$color-icon-main: #f38181;
$color-box-background: #95e1d3;
$color-text: #999999;
$color-text-main: #333333;
$color-nav-header: #fce38a;
$default-color-white: #ffffff;