.clock {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border: 2px solid tomato;
   margin: auto;
   position: relative;
   background-image: url("./giphy.gif");
   background-position: 50% 23%;

}

.hand{
   height: 2px;
   width: 50%;
   background-color: blue;
   position: absolute;
   transform-origin: 100%;
   /* transform: rotate(40deg); */
   top: 50%;
}